{% extends "base.html" %}

{% block title %}
    project list
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>My Projects</h1>
            <p>
                <a href="{% url 'create_project' %}">Create a new project
                </p>
                {% if projects %}
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Number of tasks</th>
                            </tr>
                        </thead>
                        {% for each in projects %}
                            <tbody>
                                <tr>
                                    <td>
                                        <a href="{% url 'show_project' each.id %}">{{ each.name }}</a>
                                    </td>
                                    <td>{{ each.tasks.all|length }}</td>
                                </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>You are not assigned to any projects</p>
                {% endif %}
            </div>
        </main>
    {% endblock content %}
